header {
    background-color: #f7e7ce;
    color: #58738e;
    padding: 1.5rem;
    text-align: center;
  }
  
  
  
  nav {
    background-color: #2c3e50;
    padding: 0.75rem 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 0 1rem;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav li::marker {
    content: none;
  }
  main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }
  
  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
  }
  
  
  @media screen and (max-width: 600px) {
    nav a {
      display: block;
      margin: 0.5rem 0;
    }
  }

  main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    color: #58738e;
  }

  h2 {
    text-align: side;
    font-size: 1.5rem;
    color: #58738e;
  }

  article {
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
  }

  video {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 10px;

  }

  footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #f3eeee;
  }
  
  /* Reading Progress Bar Styling */
.reading-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--primary-color);
  transition: width 0.1s ease-out;
  z-index: 100;
}

body.dark-mode .reading-progress {
  background-color: var(--link-color);
}
