h1{
    font-family: "Poiret One", sans serif;
    text-align: center;
    font-size: 36px;
    color: #ee11b3;
    
    }

   p{
    font-family: "Poiret One", sans serif;
    text-align: center;
    font-size: 18px;
    color: #3c0f98;

   } 

   ul{


    list-style-type: square; 
    color:orange
   }

   .navlinks{
    background-color: black;
    list-style: none;
   }
   
   a
   {
    
    color:yellow
    
    
    
   }
   

  